<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for Wi-Fi and location services -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Application definition -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_3"
        android:label="DisCo"
        android:roundIcon="@drawable/logo_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Activities -->
        <activity
            android:name="com.example.TestCode.Test_Activity"
            android:exported="false" />

        <activity
            android:name=".RequestPermissions"
            android:exported="false" />

        <activity
            android:name=".chatPage"
            android:exported="false" />
        <activity
            android:name=".mainPage"
            android:exported="false" />
        <activity
            android:name=".otp_page"
            android:exported="false" />
        <activity
            android:name=".registerPage"
            android:exported="false" />
        <activity
            android:name=".loginPage"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".groupFragment" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />




        <!-- Receiver for Wi-Fi Direct events -->
        <receiver
            android:name="com.example.myapplication.WifiDirectBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Service for handling peer connections -->
        <service
            android:name="com.example.TestCode.peerConnection"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
